#input {
	width: 600px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

.inputField {
	width: 60px;
	margin: 1%;
	text-align: center;
}

/* TODO: add 7x6 board */
#board {
	/* removes gap between rows */
	font-size: 0;		
	height:500px;
	clear:both;
	width:600px;
	margin: 0 auto;
	position:relative;
}

.imgWrapper {
	position: relative;
	display: inline-block;
}

/* overlays orbs onto board */
.orbs {
	position: absolute;
	top: 0;
	left: 0;
}

#controls{
	padding-top: 20px;
	text-align: center;
}

#test {
    width: 600px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

/* disables the user from highlighting elements on the page taken from
	https://www.geeksforgeeks.org/how-to-disable-text-selection-highlighting-using-css/ */
.disableHighlight {
	-webkit-user-select:none; 
	-webkit-touch-callout:none; 
	-moz-user-select:none; 
	-ms-user-select:none; 
	user-select:none; 
}

/* Slider code for skyfall checkbox modified from 
   https://stackoverflow.com/questions/39846282/how-to-add-the-text-on-and-off-to-toggle-button 
   starts from here to the end of the document */
.switch {
	position: relative;
	display: inline-block;
	width: 88px;
	height: 24px;
}

/* sets up the slider box */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

/* sets up the slider itself */
.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 2px;
	bottom: 2px;
	background-image: url('img/red.png');
	background-size: 100%;
	-webkit-transition: .4s;
	transition: .4s;
}

/* fills the slider box background when checked */
input:checked + .slider {
	background-color: #2196F3;
}

/* glow effect behind the slider box when in focus */
input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

/* when checked, the slider moves over 64 px */
input:checked + .slider:before {
	-webkit-transform: translateX(64px);
	-ms-transform: translateX(64px);
	transform: translateX(64px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.skyfallText {
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 12px;
  font-family: Verdana, sans-serif;
}

/* disable scrolling on mobile, taken from 
   https://stackoverflow.com/questions/10592411/disable-scrolling-in-all-mobile-devices */
/* html {
    overflow: hidden;
}

body {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
} */