#input {
	width: 600px;
	margin: 0 auto;
	position: relative;
}

.inputBox {
	width: 48px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
}

.inputItem {
	margin: 15px 15px 15px 15px;
	float:left;
}

/* TODO: add 7x6 board */
#board {
	/* removes gap between rows */
	font-size: 0;		
	height:500px;
	clear:both;
	width:600px;
	margin: 0 auto;
	position:relative;
}

.imgWrapper {
	position: relative;
	display: inline-block;
}

/* overlays orbs onto board */
.orbs {
	position: absolute;
	top: 0;
	left: 0;
}

#controls{
	padding-top: 20px;
	text-align: center;
}